src/.vs/Api/v16
src/.vs/Api/DesignTimeBuild
src/Api.Application/bin
src/Api.Application/obj
src/Api.CrossCutting/bin
src/Api.CrossCutting/obj
src/Api.Data/bin
src/Api.Data.Test/obj
src/Api.Data.Test/bin
src/Api.Data/obj
src/Api.Domain/bin
src/Api.Domain/obj
src/Api.Service/bin
src/Api.Service/obj
test/Api.Service.Test/bin
test/Api.Service.Test/obj
test/Api.Application.Test/bin
test/Api.Application.Test/obj
