/.vs/Api/v16
/.vs/Api/DesignTimeBuild
/Api.Application/bin
/Api.Application/obj
/Api.CrossCutting/bin
/Api.CrossCutting/obj
/Api.Data/bin
/Api.Data.Test/obj
/Api.Data.Test/bin
/Api.Data/obj
/Api.Domain/bin
/Api.Domain/obj
/Api.Service/bin
/Api.Service/obj
/Api.Service.Test/bin
/Api.Service.Test/obj
